- Waste.where(category_id: category.id).each do |waste|
  tr
    td= waste.name

    td
      = render partial: 'solutions/index', locals: {waste: waste}
      li= render partial: 'solutions/new', locals: {waste: waste}

    - if Comment.where(waste_id: waste.id).count == 0
      th= link_to "laisser le premier avis😝", waste_path(waste.id)
    - else
      th= link_to "donner mon avis", waste_path(waste.id)
  br

