- category.wastes.each do |waste|
  tr
    td= waste.name

    td
      = render "solutions/index", waste: waste
      li= render "solutions/new", waste: waste

    - if waste.comments.none?
      th= link_to "laisser le premier avis😝", waste
    - else
      th= link_to "donner mon avis", waste
  br
