/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-style: italic;
  margin-bottom: 200px;
}

h1, .subtitle, .navigation {
  text-align: center;
}

.message {
  text-align: center;
  border: 1px solid;
  padding: 2%;
  margin: 3%;
}

h2 {
  margin-top: 5%; 
  margin-bottom: 0;
  padding-bottom: 0;
}

table {
  width: 100%;
  empty-cells: show;
  border-collapse: collapse;
  margin: 0;
}

td, th {
  width: 33%;
  border: solid;
  padding: 1%;
  min-width: 170px;
}

.new-waste {
  margin-top: 1%;
  margin-bottom: 10%;
}

.inline {
  display: inline;
}

.w-50-percent {
  width: 50%;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 5%;
}

.article {
  border: 1px solid black;
  margin: 10px;
  padding: 20px;
  border-radius: 45px;
  width-max: 70%;
  text-align: center;
}

textarea {
  width: 70%;
  height: 10em;
  border: 2px solid black;
  border-radius: 45px;
  padding: 20px;
}
