= form_for Solution.new, html: { class: "inline" } do |f|
  = f.hidden_field :waste_id, value: waste.id
  = f.text_field :content, placeholder: "nouvelle solution", class: "w-50-percent"
  = f.submit "ajoutée"
